<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<a href="addProduit">Add produit</a><br>
<a href="produitList">List produit </a><br>
<a href="produitSearch">Search produit</a><br>
<a href="updateProduit">Update produit</a><br>
<a href="deleteProduit">Remove produit</a>
<br>
<br>
<br>
<a href="index">Return Home Market </a>
</body>
</html>